@model Cloud1.Models.Product
@{
    ViewData["Title"] = "MyWork";

   var products = (List<Product>)ViewData["Products"];

    var userId = ViewData["UserID"];

    var productImages = (string[])ViewData["ProductImages"];
}

<style>
    .pic {
        max-width: 100px;
        max-height: 100px;
    }
</style>

<h2>All Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Availability</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < products.Count; i++)
        {
            <tr>
                <td>@products[i].Name</td>
                <td>@products[i].Price</td>
                <td>@products[i].Category</td>
                <td>@products[i].Availability</td>
                <td><img src="@productImages[i]" alt="" class="pic"></td>
                <td>
                    @if (userId != null)
                    {
                        <form asp-controller="Cart" asp-action="AddToCart" method="post">
                            <input type="hidden" name="productID" value="@products[i].ProductID" />
                            <button type="submit">Add to Cart</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Login" asp-action="Index" method="post">
                            <button type="submit" class="button-style">Place Order</button>
                        </form>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>